<h1>Admin Dashboard</h1>

<div class="alert alert-info" role="alert"> There are  <%= @product_count %> products on the website currently.</div>
<div class="alert alert-info" role="alert">There are <%= @category_count.count %>  categories on the website currently.</div>
